client-asm-toi1510/src/main/java/com/example/clientasmtoi1510/service/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:9000/HelloWorld?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="findPlaceByID">
<part name="parameters" element="tns:findPlaceByID"/>
</message>
<message name="findPlaceByIDResponse">
<part name="parameters" element="tns:findPlaceByIDResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<portType name="HelloWorld">
<operation name="save">
<input wsam:Action="http://example/HelloWorld/saveRequest" message="tns:save"/>
<output wsam:Action="http://example/HelloWorld/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://example/HelloWorld/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://example/HelloWorld/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="findPlaceByID">
<input wsam:Action="http://example/HelloWorld/findPlaceByIDRequest" message="tns:findPlaceByID"/>
<output wsam:Action="http://example/HelloWorld/findPlaceByIDResponse" message="tns:findPlaceByIDResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://example/HelloWorld/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://example/HelloWorld/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
</portType>
<binding name="HelloWorldPortBinding" type="tns:HelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPlaceByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
<soap:address location="http://localhost:9000/HelloWorld"/>
</port>
</service>
</definitions>