client-asm-toi1510/src/main/java/com/example/clientasmtoi1510/service/HelloWorld8.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:9000/HelloWorld?xsd=1"/>
</xsd:schema>
</types>
<message name="findDistrictByID">
<part name="parameters" element="tns:findDistrictByID"/>
</message>
<message name="findDistrictByIDResponse">
<part name="parameters" element="tns:findDistrictByIDResponse"/>
</message>
<message name="updatePlace">
<part name="parameters" element="tns:updatePlace"/>
</message>
<message name="updatePlaceResponse">
<part name="parameters" element="tns:updatePlaceResponse"/>
</message>
<message name="getAllCity">
<part name="parameters" element="tns:getAllCity"/>
</message>
<message name="getAllCityResponse">
<part name="parameters" element="tns:getAllCityResponse"/>
</message>
<message name="getAllDistrict">
<part name="parameters" element="tns:getAllDistrict"/>
</message>
<message name="getAllDistrictResponse">
<part name="parameters" element="tns:getAllDistrictResponse"/>
</message>
<message name="savePlace">
<part name="parameters" element="tns:savePlace"/>
</message>
<message name="savePlaceResponse">
<part name="parameters" element="tns:savePlaceResponse"/>
</message>
<message name="deletePlace">
<part name="parameters" element="tns:deletePlace"/>
</message>
<message name="deletePlaceResponse">
<part name="parameters" element="tns:deletePlaceResponse"/>
</message>
<message name="getAllPlace">
<part name="parameters" element="tns:getAllPlace"/>
</message>
<message name="getAllPlaceResponse">
<part name="parameters" element="tns:getAllPlaceResponse"/>
</message>
<message name="sayHelloWorldFrom">
<part name="parameters" element="tns:sayHelloWorldFrom"/>
</message>
<message name="sayHelloWorldFromResponse">
<part name="parameters" element="tns:sayHelloWorldFromResponse"/>
</message>
<message name="findMemberByUsername">
<part name="parameters" element="tns:findMemberByUsername"/>
</message>
<message name="findMemberByUsernameResponse">
<part name="parameters" element="tns:findMemberByUsernameResponse"/>
</message>
<message name="findPlaceByID">
<part name="parameters" element="tns:findPlaceByID"/>
</message>
<message name="findPlaceByIDResponse">
<part name="parameters" element="tns:findPlaceByIDResponse"/>
</message>
<message name="findCityByID">
<part name="parameters" element="tns:findCityByID"/>
</message>
<message name="findCityByIDResponse">
<part name="parameters" element="tns:findCityByIDResponse"/>
</message>
<message name="addMember">
<part name="parameters" element="tns:addMember"/>
</message>
<message name="addMemberResponse">
<part name="parameters" element="tns:addMemberResponse"/>
</message>
<portType name="HelloWorld">
<operation name="findDistrictByID">
<input wsam:Action="http://example/HelloWorld/findDistrictByIDRequest" message="tns:findDistrictByID"/>
<output wsam:Action="http://example/HelloWorld/findDistrictByIDResponse" message="tns:findDistrictByIDResponse"/>
</operation>
<operation name="updatePlace">
<input wsam:Action="http://example/HelloWorld/updatePlaceRequest" message="tns:updatePlace"/>
<output wsam:Action="http://example/HelloWorld/updatePlaceResponse" message="tns:updatePlaceResponse"/>
</operation>
<operation name="getAllCity">
<input wsam:Action="http://example/HelloWorld/getAllCityRequest" message="tns:getAllCity"/>
<output wsam:Action="http://example/HelloWorld/getAllCityResponse" message="tns:getAllCityResponse"/>
</operation>
<operation name="getAllDistrict">
<input wsam:Action="http://example/HelloWorld/getAllDistrictRequest" message="tns:getAllDistrict"/>
<output wsam:Action="http://example/HelloWorld/getAllDistrictResponse" message="tns:getAllDistrictResponse"/>
</operation>
<operation name="savePlace">
<input wsam:Action="http://example/HelloWorld/savePlaceRequest" message="tns:savePlace"/>
<output wsam:Action="http://example/HelloWorld/savePlaceResponse" message="tns:savePlaceResponse"/>
</operation>
<operation name="deletePlace">
<input wsam:Action="http://example/HelloWorld/deletePlaceRequest" message="tns:deletePlace"/>
<output wsam:Action="http://example/HelloWorld/deletePlaceResponse" message="tns:deletePlaceResponse"/>
</operation>
<operation name="getAllPlace">
<input wsam:Action="http://example/HelloWorld/getAllPlaceRequest" message="tns:getAllPlace"/>
<output wsam:Action="http://example/HelloWorld/getAllPlaceResponse" message="tns:getAllPlaceResponse"/>
</operation>
<operation name="sayHelloWorldFrom">
<input wsam:Action="http://example/HelloWorld/sayHelloWorldFromRequest" message="tns:sayHelloWorldFrom"/>
<output wsam:Action="http://example/HelloWorld/sayHelloWorldFromResponse" message="tns:sayHelloWorldFromResponse"/>
</operation>
<operation name="findMemberByUsername">
<input wsam:Action="http://example/HelloWorld/findMemberByUsernameRequest" message="tns:findMemberByUsername"/>
<output wsam:Action="http://example/HelloWorld/findMemberByUsernameResponse" message="tns:findMemberByUsernameResponse"/>
</operation>
<operation name="findPlaceByID">
<input wsam:Action="http://example/HelloWorld/findPlaceByIDRequest" message="tns:findPlaceByID"/>
<output wsam:Action="http://example/HelloWorld/findPlaceByIDResponse" message="tns:findPlaceByIDResponse"/>
</operation>
<operation name="findCityByID">
<input wsam:Action="http://example/HelloWorld/findCityByIDRequest" message="tns:findCityByID"/>
<output wsam:Action="http://example/HelloWorld/findCityByIDResponse" message="tns:findCityByIDResponse"/>
</operation>
<operation name="addMember">
<input wsam:Action="http://example/HelloWorld/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://example/HelloWorld/addMemberResponse" message="tns:addMemberResponse"/>
</operation>
</portType>
<binding name="HelloWorldPortBinding" type="tns:HelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDistrictByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDistrict">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="savePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHelloWorldFrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMemberByUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPlaceByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCityByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
<soap:address location="http://localhost:9000/HelloWorld"/>
</port>
</service>
</definitions>